html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    font-family: 'Overpass', sans-serif;
    background: radial-gradient(41.71% 65% at 74.64% 61.11%, #181718 0%, #161516 54.69%, #0a0a0a 100%);
    background-attachment: fixed;
    /* background-color: #1a061a; */
    color: #1d011d;
    line-height: 1.3;
}

::selection{
    color: azure;
    background: #4d1d1dc5;

   
}

ol {
    list-style-type:upper-roman;
}

a {
    color: #b41717;
    text-decoration: none;
}

a:hover {
    color: #b41717d2;
    text-decoration: underline;
}

img {
     max-width: 100%;
}

h1 {
    background:linear-gradient(to left, #2d1755, #d53a9d);
    background:-webkit-linear-gradient(to left, #2d1755, #d53a9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

h2,h3 {
    background: -webkit-linear-gradient(red, purple);
    background: linear-gradient(to right, red, purple);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

iframe {
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

header{
    
    border-top: 4px solid rgba(0,0,0,0.1);
    /* margin: 0 -2em; */
    margin-left: -2em;
    margin-right: -2em;
    

}

#menu-toggle {
    display: none;
}


nav {
     margin-left: 2em;
     margin-right: 2em;
     
     border-bottom: 1px dotted rgba(0,0,0,0.3);
     
     box-sizing: inherit;
}
    
nav ul {
    display: flex;
    justify-content: center;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}


nav ul li a {
    color: #1a061a;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin: -4px 1em 0 1em;
    display: inline-block;
    border-top: 4px solid transparent;

    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    
}

nav ul li a:hover {
    border-top: 4px solid #b41717;
    color: #f00f0fd8;
    text-decoration: none;
}


.width-wrap{
    
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto auto 3em auto;
    
    max-width: 960px;
    border: 1px solid rgba(0,0,0,0.3);
    border-top: unset;
    padding: 0 2em 2em 2em;
}


/* Index */

.bio {
    column-width: 13em;
    
    column-gap: 2em;
}

.bio img {
    padding: 2%;
    background-color: #fff;
    box-shadow:5px 5px #1a061a50 ;
}

.bio a {
    display: inline-block;
    position: relative;
}

.paperclip {
    background-color: unset !important;
    box-shadow: none !important;
    width: 20%;
    position: absolute;
    top: -8px;
    right: -8px;
}

.favourites{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    justify-content: center;
    background-color:#ffffff9c;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.favourites label {
    
    z-index: 1;
    order: -1;
    padding: 1px 1em;
}

.favourites label h3 {
    cursor: pointer;
}

input ~ div {
    width: 100%;
    margin-top: -1px;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.596);
    -webkit-order: 1;
    order: 1;
}

input[type=radio], input ~ div {
    display: none;
}

input[type=radio]:checked + label {
    /* background: #fff; */
    border-bottom: 3px solid #b41717d2;
    color: #941414;
}

input[type=radio]:checked + label + div {
    display: flex;
    justify-content: center;
}



/* Gallery */

div.gallery {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    row-gap: 10px;
    column-gap: 10px;
}

div.gallery img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.gallery a {
    transition: all .2s ease-in-out;
}

div.gallery a:hover {    
    /* scale: 1.1;     */
    transform: scale(1.1);
}

div.gallery .col-span-2 {
    grid-column: span 2;
}
  
div.gallery .row-span-2 {
grid-row: span 2;
}


/* Footer */

footer {
    font-size: 75%;
    text-align: center;
}

hr {
   
    width: 50vw;
    min-width: 300px;
    max-width: 890px;

    margin-top: 3em;
    margin-bottom: 2em;

    border: 0;
    border-bottom: 3px dotted #3c093c;
}

a.back-top {

    bottom: 10px;
    display: inline-block;
    position: sticky;
    margin-left: -25px;

    text-shadow: 2px 2px #1a061a40;
    text-decoration: none;
    transition: all .2s ease-in-out;
}


a.back-top:hover {
    transform: rotate(45deg);
}

dt::after {
    content: ':';
}

/* Table */

table {
    border-collapse: collapse;
    caption-side: bottom;
    /* width: 100%; */
    column-span: all;
    margin-top: 1em;
}

thead td, tfoot td, th{
    background-color: rgba(0,0,0,0.2);
}
  
th, td {
/* border: 1px solid #fff; */
padding:0.3em 1em;
}

tbody tr:nth-child(even) td {
    background-color: rgba(0,0,0,0.15);
}

tbody tr:nth-child(odd) td {
    background-color: rgba(151, 151, 151, 0.15);
}




/* Survey */

fieldset ul {
    list-style: none;
    padding: 0;
}

p > label {
    display: block;
}

input:invalid {
    background-color: #b417177a;
}

[type="submit"] {
    border: none;
    padding: 1em 3em;
    background-color: #b41717;
    cursor: pointer;
    color: antiquewhite;
}

[type="submit"]:hover {
    background-color: #941414;
}



/* ***MEDIA QUERIES*** */

/* Navigation */
@media screen and (max-width: 700px) {
    nav ul {

        flex-direction: column;
        align-items: center;
        height: 0;
        overflow: hidden;
        transition: height 0.15s ease-out;
        padding: 1em unset;
    }

    nav ul li:first-child{
        padding-top: 5px;
    }
   

    /* Mobile Menu */

    label.sandwich-icon {
        position: relative;
        display: block;
        width: 40px;
        height: 25px;
        border-top: solid 5px #f00f0fd8;
        
        margin: 1em auto;
        cursor: pointer;
        
        transition: border-top 200ms;
      }
    
      label.sandwich-icon::after {
        content: "";
        display: block;
        width: 40px;
        border-top: 5px solid #f00f0fd8;
        position: absolute;
        top: 15px;
        transition: transform 200ms;
      }
      label.sandwich-icon::before {
        content: "";
        display: block;
        width: 40px;
        border-top: 5px solid #f00f0fd8;
        position: absolute;
        top: 5px;
        transition: transform 200ms;
      }
    
      nav input[id="menu-toggle"]:checked + label::before {
        display: block;
        transform: rotate(-45deg) translate(-4px, 5px);
      }
      nav input[id="menu-toggle"]:checked + label::after {
        display: block;
        transform: rotate(45deg) translate(-2px, -3px);
      }
      nav input[id="menu-toggle"]:checked + label + ul {
        height: 280px;
        transition: height 0.25s ease-in;
      }
      nav input[id="menu-toggle"]:checked + label {
        transition: border-top 400ms;
        border-top: transparent;
      }
}


/* index */

@media screen and (max-width: 500px) {
    thead td,
    tfoot td,
    th {
      display: none;
    }
    td {
      display: block;
      padding: 0 1rem;
    }
  
    table {
      caption-side: top;
    }
    tr td:first-child {
      padding-top: 0.3em;
      font-weight: bold;
    }
    tr td:last-child {
      padding-bottom: 0.3em;
      font-style: italic;
      font-size: 0.8em;
    }
  
    tr td:last-child::after {
      content: "hrs/wk";
    }
}

@media screen and (max-width: 800px) {
    div.favourites {
        flex-direction: column;
    }
    div.favourites label {
        order: 0;
        text-align: center;
        padding: 0;
    }
    input:checked + label + div {
        margin: 0;
        border-radius: 10px;
    }
    div.favourites input:checked + label {
        margin: 0;        
    }
}

/* Gallery */

@media screen and (max-width: 450px) {
    div.gallery .col-span-2 {
      grid-column: span 1;
    }
}




