body{
    background-color: #1a061a;
}

::selection{
    color: azure;
    background: #b41717;
}

.width-wrap{
    color: #1d011d;
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto auto 3em auto;
    box-sizing: border-box;
    max-width: 960px;
    border: 1px solid rgba(0,0,0,0.3);
    border-top: unset;
    padding: 0 2em 2em 2em;
}

a {
    color: #b41717;
    text-decoration: none;
}

h1,h2,h3 {
   color: rebeccapurple;
}

nav ul li a {
    color: #1a061a;
}

hr {
   
    width: 50vw;
    min-width: 300px;
    max-width: 890px;

    margin-top: 3em;
    margin-bottom: 2em;

    border: 0;
    border-bottom: 3px dotted #3c093c;
}

dt::after {
    content: ':';
}